<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Munchi</title>
    <link rel="stylesheet" href="/styles/main.css" type="text/css">
    <link rel="shortcut icon" href="/assets/taco.png" type="image/png">
</head>
<body>
    <nav>
        <h1>Munchi</h1>
        <img id="nav-burger" src="/assets/taco.png"/>
        <% if(!currentUser){ %>
            <ul class="account_links">
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Sign Up</a></li>
            </ul>
        <% } else { %>
            <ul class="account_links">
                <li><a href="#">Signed In As <%= currentUser.username %></a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        <% } %>
        </nav>

    <% if(error && error.length > 0){ %> <!-- checks if error exists AND checks to see if the error array's length is greater than one -->
    <div class="container">
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
    </div>
<% } %>

<% if(success && success.length > 0){ %>
    <div class="container">
        <div class="alert alert-success" role="alert">
            <%= success %>
        </div>
    </div>
<% } %>