<% include ./partials/landingHeader %>
<div id="landingContainer">
    <div id="overlay"></div>
    <div id="headerContainer">
        <h1 id="firstLandingHeader">Welcome to</h1>
        <h1 id="secondLandingHeader">
            Munchi
        </h1>

        <button class="baseButton" onclick="location.href='/restaurants'">
            <p>Check out our restaurants</p>
        </button>
    </div>

    <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>

        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>
</div> <!-- Main Container -->
<% include ./partials/footer %>