<% include ./partials/header %>

<div class="userAccountForm">

    <form action="/login" method="POST">
        <h1>Login</h1>
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button class="baseButton">Login</button>
    </form>
</div>
<% include ./partials/footer %>