<% include ./partials/header %>
<div class="userAccountForm">
    <form action="/register" method="POST">
        <h1>Sign up for a free account!</h1>
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button class="baseButton">Register now</button>
    </form>
</div>
<% include ./partials/footer %>