/*LANDING PAGE STYLES*/
*
{
    margin: 0;
    padding: 0;
}

html,body
{
    height: 100%;
    width: 100%;
    background-color: #fafafa;
    margin: 0;
    font-family: Helvetica, sans-serif;
    color:#212121;
}

#landingContainer
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../assets/bread-bun-burger-1639562.jpg');
    background-size: cover;
    height: inherit;
    width: inherit;
    z-index: 1;
}

#overlay
{
    position: fixed;
    height: inherit;
    width: inherit;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
    
}

#headerContainer
{
    color: #ffffff;
    text-align: center;
    z-index: 3;
    
}


#headerContainer h1{
    padding: 0;
    margin: 0;
    font-weight: lighter;
}


#headerContainer h1#firstLandingHeader
{
    font-size: 72px;
}

#headerContainer h1#secondLandingHeader
{
    font-size: 144px;
}

button.baseButton
{
    border: none;
    background-color: #33b5e5;
    width: 300px;
    height: 67px;
    border-radius: 5px;
    font-size: 20px;
    z-index: 6;
    margin-top: 10px;
    cursor: pointer;
}

button.baseButton:hover
{
    background-color: #0099CC;
}

#landingContainer button p
{
    color: #ffffff;
}

/*MAIN PAGE STYLES*/

/*NAV BAR*/
nav
{
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    max-width: 100%;
    background-color: #fafafa;
}

nav h1
{
    padding: 0;
    margin: 0;
    display: inline-block;
    font-weight: lighter;
}

.account_links
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-self: center;
}

nav ul
{
    padding: 0;
    margin: 0;
}

nav li
{
    margin:0;
    padding: 0;
    display: inline-block;
    text-decoration: none;
    align-self: flex-end;
    color: #212121;
    margin-right: 10px;
    
}

nav li a 
{
    text-decoration: none;
    color:#33b5e5;
}

a:hover
{
    color:#0099CC;
}
#nav-burger
{
    height: 50px;
    width: 50px;
    padding: 0;
}


/* INDEX PAGE STYLES */



#indexContainer
{
    background-image: url("../assets/index-bg2.jpeg");
    background-size: cover;
    padding: 0;
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#indexContainer *
{
    padding: 10px 0;
}


#indexContainer img
{
    height: 175px;
    width: 149px;
}

#indexContainer h1
{
    font-size: 72px;
}

#indexContainer h2
{
    font-size: 20px;
}

#indexButton
{
    height: 50px;
    font-size: 18px;
    color: #ffffff;
}

#indexOverlay
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fafafa;
    
}

#indexDynamicHalfContainer
{
    background-color: #fafafa;
}

#restaurantHeaderContainer
{
    background-color: #fafafa;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.26);
}


#restaurantHeader
{
    font-size: 48px;
    color: #33b5e5;
    padding: 10px;
    text-align: center;
}

#restaurantContainer
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px 0 0 0;
    padding: 0;
    flex-wrap: wrap;
}


.restaurant
{
    width: 25%;
    margin: 8px;
    border-radius: 4px;
    background-color: #fafafa;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.26);
    height: 400px;
}

.restaurant h1
{
    color: #212121;
}

.restaurant img
{
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.restaurantInfoContainer
{
    padding: 10px;  
}

.restaurantInfoContainer *
{
    margin-bottom: 10px;    
}

.restaurantInfoContainer h1, h3
{
    font-weight: lighter;
}

.restaurantInfoContainer a
{
    text-decoration: none;
    position: relative;
    top: 85px;
    font-size: 18px;
    color: #33b5e5;
}

.restaurantInfoContainer a:hover
{
    color: #0099CC;
}

