<% include ../partials/header %>

<div>
    <form action="/restaurants" method="POST">
        <input type="text" name="name" placeholder="name">
        <input type="text" name="image" placeholder="image url">
        <input type="text" name="specialty" placeholder="specialty">
        <input type="text" name="description" placeholder="description">
        <button>Submit</button>
    </form>
    <a href="/restaurants">Go back</a>
</div>


<%include ../partials/footer %>